<div class="admin-navigation">
    <div class="navLogo"><img src="/public/img/logo.png" alt="">BCMMDev</div>
    <ul class="navBx">
      <li class="admin-navLink"> <a href="/admin"><i class='bx bx-home'></i> Dashboard</a></li>
      <li class="admin-navLink"><a href="/admin/manageBlog"><i class='bx bxs-book'></i> Manage Blog</a></li>
           <li class="admin-navLink"><a href="/admin/manageContact"><i class='bx bx-chat'></i> Manage Contact</a></li>
      <li class="admin-navLink"><a href="/admin/manageAdmin"><i class='bx bxs-user-circle' ></i> Manage Admin</a></li>
      <li class="admin-navLink" id="adminLogout"><a href=""><i class='bx bx-log-out'></i> Logout</a></li>
    </ul>
</div>