<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> BCMMDev ||  {{customTitle}}</title>
     <link rel="shortcut icon" type="image/png" href="/public/img/logo_2.png">
    {{!-- Box icon cdn --}}
    <link rel="stylesheet" href="/bxIcons/css/boxicons.min.css">
    {{!-- Swiper cdn --}}
    <link rel="stylesheet" href="/swiperSlide/swiper-bundle.min.css">
    
   {{!-- Style component --}}
    <link rel="stylesheet" href="/public/css/css_component/navbar.css">
    <link rel="stylesheet" href="/public/css/css_component/footer.css">
    <link rel="stylesheet" href="/public/css/css_component/main.css">
    <link rel="stylesheet" href="/public/css/css_component/banner.css">
    <link rel="stylesheet" href="/public/css/css_component/adminNavbar.css">

   {{!-- Style only page --}}
   <link rel="stylesheet" href="/public/css/home.css">
   <link rel="stylesheet" href="/public/css/contact.css">
   <link rel="stylesheet" href="/public/css/register.css">
   <link rel="stylesheet" href="/public/css/blog.css">
   <link rel="stylesheet" href="/public/css/community.css">
   <link rel="stylesheet" href="/public/css/loginAdmin.css">
   <link rel="stylesheet" href="/public/css/404page.css">
   <link rel="stylesheet" href="/public/css/admin.css">
</head>