<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Our Office</h3>
                <ul class="f1">
                    <li><i class='bx bxs-map'></i> 123 Street, New York, USA</li>
                    <li><i class='bx bxs-phone' ></i> +012 345 6789</li>
                    <li><i class='bx bxs-envelope' ></i> example123@gmail.com</li>
                </ul>
                <div class="socials">
                  <a href=""> <i class='bx bxl-facebook' ></i></a>
                  <a href=""> <i class='bx bxl-instagram-alt' ></i></a>
                  <a href=""> <i class='bx bxl-twitter' ></i></a>
                  <a href=""> <i class='bx bxl-youtube' ></i></a>
                </div>
            </div>
            <div class="col">
                <h3>Quick Links</h3>
                <ul class="f2">
                    <li><a href="/home"><i class='bx bx-chevron-right' ></i> Home</a></li>
                    <li><a href="/about"><i class='bx bx-chevron-right' ></i> About</a></li>
                    <li><a href="/blog"><i class='bx bx-chevron-right' ></i> Blog</a></li>
                    <li><a href="/community"><i class='bx bx-chevron-right' ></i> Community</a></li>
                    <li><a href="/contact"><i class='bx bx-chevron-right' ></i> Contact</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Community Link</h3>
                <ul class="f3">
                    <li><a href="/"><i class='bx bx-chevron-right' ></i> Link_1</a></li>
                    <li><a href="/"><i class='bx bx-chevron-right' ></i> Link_2</a></li>
                    <li><a href="/"><i class='bx bx-chevron-right' ></i> Link_3</a></li>
                    <li><a href="/"><i class='bx bx-chevron-right' ></i> Link_4</a></li>
                    <li><a href="/"><i class='bx bx-chevron-right' ></i> Link_5</a></li>
                </ul>
            </div>
            <div class="col ft_contact">
                <h3>Newsletter</h3>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="inputBx">
                    <input type="text">
                    <button>Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="copyright">
    <h3>© BCMMDev, All Right Reserved. 2023 </h3>
    <p>Design By Dewzazayolol_404 / Started building from 8 March until 21 May. 2023</p>
</div>