   <div class="topBar">
    <div class="container">
        <div class="topBar-logo"><a href="/"><img src="/public/img/logo_2.png" alt="">BCMMdev</a></div>

        <div class="left-bx">
             <div class="contact-bx">
                <ul>
                    <li><i class='bx bxs-map'></i><span>123 Street, New York, USA</span></li>
                    <li><i class='bx bxs-envelope'></i><span>Example123@gmail.com</span></li>
                    <li><i class='bx bxs-phone' ></i><span>+012 345 6789</span></li>
                </ul>
             </div>
            <div class="socials">
                <ul>
                    <li><a href=""><i class='bx bxl-facebook'></i></a></li>
                    <li><a href=""><i class='bx bxl-twitter' ></i></a></li>
                    <li><a href=""><i class='bx bxl-instagram-alt'></i></a></li>
                </ul>
            </div>
        </div>
    </div>
   </div>

   <div class="navbar">
    <div class="container">
        <a href="" class="navbar-logo active"><img src="/public/img/logo.png" alt=""> BCMMdev</a>
         <div class="menu-bar"><i class='bx bx-menu' ></i></div>

        <ul class="nav-list">
            <li><a href="/home" >HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/community">COMMUNITY</a></li>
            <li><a href="/contact">CONTACT</a></li>
            {{!-- <li><a href="/loginAdmin"><i class='bx bxs-user-rectangle'></i>ADMIN</a></li> --}}
            <li><a href="/admin"><i class='bx bxs-user-rectangle'></i>ADMIN</a></li>
        </ul>

        <a href="/register" class="nav-register">REGISTER</a>
    </div>
   </div>

