<!DOCTYPE html>
<html lang="en">
{{>baseHead customTitle="About"}}
<body>
    {{!-- NAVIGATION BAR --}}
     {{> navbar}}

{{!-- Banner --}}
<section class="banner">
  <div class="container">
  <div class="content">
      <h1 id="banner_Tx" data-banner-Text="About"></h1>
    <p>Home / Pages / <span class="banner-page-color">About</p>
  </div>
  </div>
</section>




{{!--------------------------- Video Section --}}
<section class="video">
  <div class="container">

<div class="row">
   <div class="video-bx">
      <video autoplay>
        <source src="/public/img/video1.mp4" type="video/mp4">
     </video>
     <div class="play-video-btn">
      <i class='bx bx-video'></i>
   </div>
    <div class="animation-play-video-btn"></div>
  </div>
<div class="content-video">
   <h3>About Us</h3>
   <h2>Great experience to learn and interact with the developer community.</h2>
   <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
   <div class="mini-row">
    <div class="mini-col">
      <i class='bx bx-user-check'></i>
      <h3>Managed Services</h3>
      <p>Clita erat ipsum et lorem et sit sed stet lorem</p>
    </div>
    <div class="mini-col mini2">
      <i class='bx bxs-user-badge'></i>
      <h3>Dedicated Experts</h3>
      <p>Clita erat ipsum et lorem et sit sed stet lorem</p>
    </div>
   </div>

   <a href="/community" class="content-video-bx">Explore Community</a>
</div>


</div>

<div class="video-popup">
 <div class="video-bx">
    <video autoplay loop controls>
        <source src="/public/img/video1.mp4" type="video/mp4">
     </video>
 </div>
     <i class='bx bx-x close-video'></i>
</div>
</div>
</section> 

{{!--------------------------- Service Section --}}
<section class="service">
<div class="container">
    <div class="header">
    <p>Our Service</p>
    <h2>Services that We Offer <br> Blog and Developer Community</h2>
  </div>

  <div class="row">
    <div class="col">
      <i class='bx bx-universal-access'></i>
      <h3>Sample Headline</h3>
      <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet</p>
    </div>
    <div class="col">
      <i class='bx bxs-shield-plus' ></i>
      <h3>Sample Headline</h3>
      <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet</p>
    </div>
    <div class="col">
      <i class='bx bx-user-circle' ></i>
      <h3>Sample Headline</h3>
      <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet</p>
    </div>
    <div class="col">
      <i class='bx bx-chat' ></i>
      <h3>Sample Headline</h3>
      <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet</p>
    </div>
    <div class="col">
      <i class='bx bx-support' ></i>
      <h3>Sample Headline</h3>
      <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet</p>
    </div>
    <div class="col">
      <i class='bx bx-time-five'></i>
      <h3>Sample Headline</h3>
      <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet</p>
    </div>
  </div>
</div>
</section>

{{!-- ------------------------ Team Section--}}
<section class="team">
  <div class="container">
    <div class="header">
      <p>Our Team</p>
      <h2>Our Expert People Ready to Help You</h2>
    </div>
  <div class="row">
    <div class="col">
      <div class="image"><img src="/public/img/user1.jpg" alt=""></div>
      <ul class="social">
        <li><a href=""><i class='bx bxl-instagram'></i></a></li>
        <li><a href=""><i class='bx bxl-twitter'></i></a></li>
        <li><a href=""><i class='bx bxl-facebook' ></i></a></li>
        <li><a href=""><i class='bx bxl-linkedin'></i></a></li>
      </ul>
      <div class="content">
           <h4>Alex Robin</h4>
           <p>Founder & CEO</p>
      </div>
    </div>
    <div class="col">
      <div class="image"><img src="/public/img/user1.jpg" alt=""></div>
      <ul class="social">
        <li><a href=""><i class='bx bxl-instagram'></i></a></li>
        <li><a href=""><i class='bx bxl-twitter'></i></a></li>
        <li><a href=""><i class='bx bxl-facebook' ></i></a></li>
        <li><a href=""><i class='bx bxl-linkedin'></i></a></li>
      </ul>
      <div class="content">
           <h4>Alex Robin</h4>
           <p>Senior Fullstack</p>
      </div>
    </div>
    <div class="col">
      <div class="image"><img src="/public/img/user1.jpg" alt=""></div>
      <ul class="social">
        <li><a href=""><i class='bx bxl-instagram'></i></a></li>
        <li><a href=""><i class='bx bxl-twitter'></i></a></li>
        <li><a href=""><i class='bx bxl-facebook' ></i></a></li>
        <li><a href=""><i class='bx bxl-linkedin'></i></a></li>
      </ul>
      <div class="content">
           <h4>Alex Robin</h4>
           <p>Senior Officer </p>
      </div>
    </div>
    <div class="col">
      <div class="image"><img src="/public/img/user1.jpg" alt=""></div>
      <ul class="social">
        <li><a href=""><i class='bx bxl-instagram'></i></a></li>
        <li><a href=""><i class='bx bxl-twitter'></i></a></li>
        <li><a href=""><i class='bx bxl-facebook' ></i></a></li>
        <li><a href=""><i class='bx bxl-linkedin'></i></a></li>
      </ul>
      <div class="content">
           <h4>Alex Robin</h4>
           <p>Executive Manager</p>
      </div>
    </div>

 

  </div>
  </div>
</section>

{{!-- FOOTER  --}}
{{> footer}}

{{> allScript}}
</body>
</html>