<!DOCTYPE html>
<html lang="en">
{{>baseHead}}

<body>


    {{>adminNavbar}}

    <div class="adminDashboard">
        <div class="close-mobile-navbar"><i class='bx bx-x'></i></div>
        <div class="header">
            <div class="menu"><i class='bx bx-menu'></i> <span>Manage Admin</span></div>
            {{>adminHeaderUser}}
        </div>

        <div class="main-adminBx">

      <div class="createAdminHeader">
        <h2><i class='bx bxs-edit'></i>  Create Admin</h2>
      </div>

      <div class="createAdminBx">
       <div class="allInputBx">
         <div class="inputBx">
            <label for="admin-name">Username</label>
            <input type="text" id="admin-name" name="username">
            <span class="error_invalid"></span>
            </div>
        <div class="inputBx">
            <label for="admin-email">Email</label>
            <input type="email" id="admin-email" name="email">
            <span class="error_invalid"></span>
            </div>
        <div class="inputBx">
            <label for="admin-password">Password</label>
            <input type="password" id="admin-password" name="password">
            <span class="error_invalid"></span>
            </div>
        <div class="inputBx">
            <label for="admin-confirm-password">Confirm password</label>
            <input type="password" id="admin-confirm-password" name="confirm-password">
            <span class="error_invalid"></span>
            </div>
        <div class="inputImgBx">
            <label for="adminImg"><i class='bx bx-upload' ></i> <span class="admin-img-name">Choose Image...</span></label>
            <input type="file" id="adminImg" accept="image/* ,.jpg, .jpeg, .png" hidden>
        </div>
       </div>

        <div class="createAdminBtn">
       <button class="create_Admin_Btn">Create</button>
        <a href="/admin/manageAdmin" class="cancel_create_admin_btn">Cancel</a>
      </div>
      </div>

            </div>

        </div>



    {{>allScript}}
</body>

</html>