@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root{
    --black:#1c2035;
    --blue1:#4761ff;
    --blue-btn-hover:#3c4fc9;
    --white:#fff;
    --gray:#555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    /* transition: all .3s ease; */
}
img{
    width: 100% ;
    height: 100% ;
    background-size: cover ;
    object-fit: cover;
    object-position: center;
}
.container{
    max-width: 1380px;
    margin: auto;
    padding: 0 30px;
    /* border: 1px solid red; */
}

section{
    padding: 100px 0;
}
p{
    color: var(--gray);
}

@media only screen and (max-width: 600px){
    .container{
        padding: 0 20px;
    }
    section{
        padding: 60px 0;
    }
}

@media only screen and (max-width: 480px){
    .container{
        padding: 0 15px;
    }
}

/* 

/* -------  ScrollBar -------- */
::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(235, 235, 235);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--blue1); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--blue-btn-hover); 
  }