:root{
    --black:#1c2035;
    --blue1:#4761ff;
    --blue-btn-hover:#3c4fc9;
    --white:#fff;
    --gray:#555;
}

.topBar{
    background: var(--blue1);
    width: 100%;
    padding: 15px 0;
}
.topBar .container{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

/* topbar right */
.topBar .container .topBar-logo a{display: flex;
align-items:center; }

.topBar .container .topBar-logo img{
    width: 65px !important;
    height: 50px !important;
}
.topBar .container .topBar-logo a{
    font-size: 30px;
    color: var(--white);
    font-weight: 800;
    line-height: -300px;
}



/* topbar left */
.topBar .container .left-bx{
    display: flex;
    align-items: center;
}

.topBar .container .left-bx .contact-bx ul li{
    display: inline-block;
    margin-right: 15px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.topBar .container .left-bx .contact-bx ul li span{
    margin: 0 10px;
    font-size: 14px;
}

/* */
.topBar .container .left-bx .socials ul li{
    display: inline-block;
}

.topBar .container .left-bx .socials ul li a{
    border-radius: 50%;
    background: #fff;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--blue1);
    margin: 0 2px;
}


/*  ========== NAVBAR =============*/
.navbar{
    transition:.4s !important;
    background: var(--white);
    width: 100%;
    z-index: 999;
    /* padding: 20px 0; */
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    
}
/*-- navbar sticky -- */
.navbar.sticky{
    animation: show 1s .1s  forwards;
    transition: all .4s ease;
    position: sticky !important;
    /* top: 0px; */
    width: 100%;
}

@keyframes show{
    0%{top: -100px; opacity: 0;}
    100%{top: 0px; opacity: 1;}
}

.navbar .container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 5px 0;

}
.navbar .container .navbar-logo{
    font-size: 25px;
    color: var(--black);
    font-weight: 600;
    display: none;
}

.navbar .container .nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.navbar .container .nav-list li a{
    margin: 0 30px 0 0;
    font-size: 17px;
    color: #1c2035;
    letter-spacing: 0.5px;
    height: 100%;
    padding: 25px 0;
    display: block;
}
.navbar .container .nav-list li a.active{
  color: var(--blue1);
}
.navbar .container .nav-list li a:hover{
  color: var(--blue1);
}
/*--- menu bar ---*/
.navbar .container .menu-bar{
    display: none;
    font-size: 32px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    padding:2px 8px;
    line-height: 20px;
    color: #1c2035;
    transition: all .5s ease;
}


.navbar .container .menu-bar:hover{   border-color: var(--blue1);}
.navbar .container .menu-bar:hover i{
    transform: scale(1.15);
    cursor: pointer;
    color: var(--blue1);
    transition: all .5s ease;

}

/* --register btn style ---*/
.navbar .container .nav-register{
    transition: all .3 ease-in;
    background: var(--blue1);
    color: white;
    border-radius: 20px;
    padding:10px 16px;
    display: inline-block;
}

.navbar .container .nav-register:hover{
    background: var(--blue-btn-hover);
}




/* ============================================= */
/*                    RESPONSIVE                 */
/* ============================================= */
@media only screen and (max-width: 991px){
    .topBar{
        display: none;
    }
    .navbar{
        padding: 10px 0 0px;
        position: relative;
    }
    .navbar .container{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar .container .navbar-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
    }

    .navbar .container .menu-bar{
        display: block;
        position: absolute;
        right: 150px;
        top: 12px;
    }
    .navbar .container .nav-register{
       position: absolute;
       top: 10px;
       right: 30px;
    }

    /* ---- responsive ul li ---- */
    .navbar .container .nav-list{
        border-top: 1px solid rgba(0,0,0,0.3);
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 5px;
        padding-top: 10px;
        transition: all .1s ease;
        height: 0;
        clip-path: polygon(0% 0%,100% 0%, 100% 0%, 0% 0%);
    }
    .navbar .container .nav-list li{
        text-align: center;
        padding: 10px;
        width: 100%;
        margin: 10px 0;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 10px;
    }
    .navbar .container .nav-list li a{
        padding: 2px 0 !important;
    }
    .navbar .container .nav-list li:hover{
        border-color: rgba(60, 79, 201,0.5);
    }
    .navbar .container .nav-list li:hover a{color: #4761ff;}

    .navbar .container .nav-list li a{width: 100%; display: block;}

    .navbar .container .nav-list.active{
        margin-top: 20px;
        margin-bottom: 20px;
        transition: all .5s ease;
        height: 100%;
       clip-path: polygon(0% 0%,100% 0%, 100% 100%, 0% 100%);
    }
} 


@media only screen and (max-width: 480px){
    .navbar .container .menu-bar{
margin-right:-20px ;
    }
    .navbar .container .nav-register{
        margin-right: -15px;
    }
    
    .navbar .container .navbar-logo{
        font-size: 18px;
    }
    .navbar .container .nav-list li a{
  font-size: 15px;
    }
}
